body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "content"
        "footer";
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}

header {
    grid-area: header;
    background-color: rgb(5, 54, 249);
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    grid-area: nav;
    background-color: #333;
    text-align: center;
    padding: 15px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    color: white;
    list-style-type: none;
}
nav ul li:hover {
    color: black;
    cursor: pointer;
    height: 10px;
    text-decoration: underline;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    grid-area: content;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px;
}

.card {
    flex: 3;
    border-radius: 20px;
}

.aside {
    flex: 1;
    border-radius: 20px;
    border: 1px solid grey;
}

.card h2, .aside h2 {
    background-color: rgb(5, 54, 249);
    color: white;
    padding: 6px;
    text-align: center;
    margin: 0;
    border-radius: 20px 20px 0 0;
}

.about {
    border: 1px solid grey;
    border-radius: 0 0 20px 20px;
    padding: 20px;
}

.about .me {
    display: flex;
    gap: 50px;
}

.about .me img {
    width: 15%;
}

.country h3 {
    text-align: center;
    border-bottom: 1px solid grey;
    width: 70%;
    margin: 0 auto
}

.country-content {
    display: flex;
    gap: 20px;
    width: 80%;
    margin-top: 25px;  
}

.aside ul {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer {
    grid-area: footer;
    background-color: rgb(5, 54, 249);
    color: white;
    text-align: center;
    padding: 15px;
}


/* Responsive Styles */
@media screen and (min-width: 768px) {
    main {
        flex-direction: row; 
    }

    .about .me {
        flex-direction: row;
    }

    .country-content {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    nav ul {
        justify-content: space-between;
    }

    main {
        padding: 40px; 
        gap: 40px; 
    }

    .about .me img {
        width: 150px; 
    }

    .card, .aside {
        border-radius: 20px;
    }
}